
 <div> 
 <h1>HI,{{username}} you login on date --{{}}</h1>
--------------{{questionLength}}
   <ul class="unstyled">
    <div>
    <select ng-model="mySelectedValue" 
      ng-options="myValue for myValue in items"
      ng-change="update()"
      ng-init="mySelectedValue = someInitFunc()">     
    </select>
	</div>
      <li ng-repeat="question in questions"
       <strong class="question">{{ question.questionText }}</strong>
      <ul class="unstyled" id="quest_{{$parent.$index}}"">
        <li ng-repeat="answe in answer">
          <label class="" >
            <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}" 
            ng-model="weightage" value="true"  
			name="quest_{{$parent.$index}}_answers"  ng-click="logIt(answe,question)"/>{{ answe.answerText }}</label>
        
		</li>
       </ul>
      </li>
	  <button class="btn" type="submit" ng:click="showResult()">Submit</button>
    </ul>
    <h1>.................Delivery Channels..........................</h1>
    <ul class="unstyled">
	 <div>
	<p>Hello {{name}}!</p>
    <select ng-model="mySelectedValue" 
      ng-options="myValue for myValue in items"
      ng-change=""
      ng-init="mySelectedValue = someInitFunc()">     
    </select>
    <h2>{{mySelectedValue}}</h2>
	</div>
	  <p>services ---- {{services2}}</p>
 <p>RiskScore ---- {{RiskScore2}}</p>
 <p>AverageRisk ---- {{AverageRisk2}}</p>
      <li ng-repeat="question in questions2">
       <strong class="question">{{ question.questionText }}</strong>
      <ul class="unstyled" id="quest_{{$parent.$index}}"">
        <li ng-repeat="answe in answer">
          <label class="" >
            <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}" 
            ng-model="weightage" value="{{ answe.weightage }}"  
			name="quest_{{$parent.$index}}_answers"  ng-change="logIt2(answe)"/>{{ answe.answerText }}</label>
        
		</li>
       </ul>
      </li>
	  <button class="btn" type="submit" ng:click="showResult2()">Submit2</button>
    </ul>
	<h1>................online.Mobile Products and Technology Services..........................</h1>
	 <ul class="unstyled">
	  <div>
	<p>Hello {{name}}!</p>
    <select ng-model="mySelectedValue" 
      ng-options="myValue for myValue in items"
      ng-change=""
      ng-init="mySelectedValue = someInitFunc()">     
    </select>
    <h2>{{mySelectedValue}}</h2>
	</div>
	  <p>services ---- {{services3}}</p>
 <p>RiskScore ---- {{RiskScore3}}</p>
 <p>AverageRisk ---- {{AverageRisk3}}</p>
      <li ng-repeat="question in questions3">
       <strong class="question">{{ question.questionText }}</strong>
      <ul class="unstyled" id="quest_{{$parent.$index}}"">
        <li ng-repeat="answe in answer">
          <label class="" >
            <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}" 
            ng-model="weightage" value="{{ answe.weightage }}"  
			name="quest_{{$parent.$index}}_answers"  ng-change="logIt3(answe)"/>{{ answe.answerText }}</label>
        
		</li>
       </ul>
      </li>
	  <button class="btn" type="submit" ng:click="showResult3()">Submit3</button>
    </ul>
	<h1>............Organization Characteristics.........................</h1>
	 <ul class="unstyled">
	  <div>
	<p>Hello {{name}}!</p>
    <select ng-model="mySelectedValue" 
      ng-options="myValue for myValue in items"
      ng-change=""
      ng-init="mySelectedValue = someInitFunc()">     
    </select>
    <h2>{{mySelectedValue}}</h2>
	</div>
	  <p>services ---- {{services4}}</p>
 <p>RiskScore ---- {{RiskScore4}}</p>
 <p>AverageRisk ---- {{AverageRisk4}}</p>
      <li ng-repeat="question in questions4">
       <strong class="question">{{ question.questionText }}</strong>
      <ul class="unstyled" id="quest_{{$parent.$index}}"">
        <li ng-repeat="answe in answer">
          <label class="" >
            <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}" 
            ng-model="weightage" value="{{ answe.weightage }}"  
			name="quest_{{$parent.$index}}_answers"  ng-change="logIt4(answe)"/>{{ answe.answerText }}</label>
        
		</li>
       </ul>
      </li>
	  <button class="btn" type="submit" ng:click="showResult4()">Submit4</button>
    </ul>
	<h1>................External Threats.........................</h1>
   <ul class="unstyled">
    <div>
	<p>Hello {{name}}!</p>
    <select ng-model="mySelectedValue" 
      ng-options="myValue for myValue in items"
      ng-change=""
      ng-init="mySelectedValue = someInitFunc()">     
    </select>
    <h2>{{mySelectedValue}}</h2>
	</div>
	  <p>services ---- {{services5}}</p>
 <p>RiskScore ---- {{RiskScore5}}</p>
 <p>AverageRisk ---- {{AverageRisk5}}</p>
 {{services6}}
      <li ng-repeat="question in questions5">
       <strong class="question">{{ question.questionText }}</strong>
      <ul class="unstyled" id="quest_{{$parent.$index}}"">
        <li ng-repeat="answe in answer">
          <label class="" >
            <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}" 
            ng-model="weightage" value="{{ answe.weightage }}"  
			name="quest_{{$parent.$index}}_answers"  ng-change="logIt5(answe,$parent.$index)"/>{{ answe.answerText }}</label>
        
		</li>
       </ul>
      </li>
	  <button class="btn btn btn-primary" type="button" ng:click="showResult5()">Submit5</button>
    </ul>
  </div>
  
  <button type="button" class="btn btn-primary btn-block" ng-click="click()">Submit</button>
  

       